table {
      font-family:Tahoma;
      font-size:16;
      color:#254117;
      text-align:left}

A {font-family:Tahoma;font-size:12}
A:link    {text-decoration: none; color: grey;}
A:active  {text-decoration: none; color: grey;}
A:visited {text-decoration: none; color: grey;}
A:hover   {text-decoration: underline; color: grey;}

A.selected {font-family:Tahoma;font-size:12; color: grey;}
A.selected:link    {text-decoration: none; color: grey;}
A.selected:active  {text-decoration: none; color: grey;}
A.selected:visited {text-decoration: none; color: grey;}
A.selected:hover   {text-decoration: underline; color: grey;}

body {font-family:Tahoma;background-color: #ffffff;
                scrollbar-track-color:white;
                scrollbar-face-color:silver;
                scrollbar-highlight-color:black;
                scrollbar-shadow-color:gray}

